{% extends 'base.html.twig' %}

{% block main %}
	<div style="text-align: center;">
    	<h1>{{ member }}'s page</h1>
    </div>
	
	<h2>Themes</h2>
	
	<br>
	
	<div class="img-row">
    	{% for theme in member.themes %}
            {% if is_granted('ROLE_ADMIN') or theme.published or (app.user and app.user.id == member.id) %}
               	<div class="tuto-card">
                	<a href="{{ path("app_theme_show", {'id': theme.id}) }}">
                    	<div class="img-crop">
                			<img
                			type="image" 
                            src="{{ vich_uploader_asset((theme.tutorials|first).imageBuild, 'imageFile') }}" 
                            alt="Image of the symbol plus" 
                            class="img-fluid"
                        	/>
                    	</div>
                    	<div class="tuto-name">
                    		<h5> {{ theme }} </h5>
                    	</div>
                	</a>
                </div>
    
        		<br>
        	{% endif %}
        {% endfor %}
    </div>
    
    <br><br>
    
    {% dump(add) %}
    
    {% if is_granted('ROLE_ADMIN') or (app.user and app.user.id == member.id) %}
        <div class="tuto-card">
        	<a href="{{ path("app_theme_new", {'id': member.id}) }}">
            	<div class="img-crop">
        			<img
        			type="image" 
                    src="{{ vich_uploader_asset(add, 'imageFile') }}" 
                    alt="Image of the symbol plus" 
                    class="img-fluid"
                	/>
            	</div>
            	<div class="tuto-name">
            		<h5> New theme </h5>
            	</div>
        	</a>
        </div>
        <br><br>
        
    {% endif %}
    

    
	<h2>Library</h2>
	
	<br>
	
	<button class="btn btn-primary">
		<a href="{{ path("app_library_show", {'id': member.library.id}) }}" class="no-decoration"><h5>{{ member }}'s library</h5></a>
	</button>
	
	<br><br><br>
	
	<button class="btn btn-info">
		<a href="{{ path('app_member_index') }}" class="no-decoration"><h5>Back</h5></a>
	</button>
    
{% endblock %}
