{% extends 'base.html.twig' %}

{% block title %}TutorialLibrary index{% endblock %}

{% block main %}
    <h1>TutorialLibrary index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tutorial_library in tutorial_libraries %}
            <tr>
                <td>{{ tutorial_library.id }}</td>
                <td>{{ tutorial_library.author }}</td>
                <td>
                    <a href="{{ path('app_tutorial_library_show', {'id': tutorial_library.id}) }}">show</a>
                    <a href="{{ path('app_tutorial_library_edit', {'id': tutorial_library.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tutorial_library_new') }}">Create new</a>
{% endblock %}
