{% extends 'base.html.twig' %}

{% block main %}
	{% block tutorialshow_header %}
	{% endblock %}
	
	{% block tutorialshow_main %}
		<div style="text-align: center;">
			<div>
            	<img 
                src="{{ vich_uploader_asset(tutorial.imageBuild, 'imageFile') }}" 
                alt="{{ tutorial.name }}" 
                class="img-fluid rounded"
                style="height: 465px;"
            	/>
            </div>
            <div style="padding-top: 1%;">
            	<h3>{{ tutorial.name }}</h3>
            </div>
    	</div>
    	
    	<br>
    	
    	<div style="text-align: center;">
            <h3>Author :</h3> <h5> {{ tutorial.library.member }}</h5>
            <h3>Description :</h3> <h5> {{ tutorial.description }}</h5>
        </div>
        
        <br>
        
    	<h3>Steps :</h3> 
    		 
		{% for step in tutorial.steps %}
			<div class="step-image" style="text-align: center;">
    			<img 
                    src="{{ vich_uploader_asset(step, 'imageFile') }}" 
                    alt="{{ step.id }}" 
                    class="img-fluid rounded"
                    style="max-width: 60%;"
                />
            </div>
		{% endfor %}
    		
    {% endblock %}
	
	{% block tutorialshow_footer %}
		<button class="btn btn-info">
    		<a href="{{ path('app_tutorial_edit', {'id': tutorial.id}) }}" class="no-decoration"><h5>Edit</h5></a>
    	</button>
    	
    	<button class="btn btn-info">
        	<a href="{{ path('app_tutorial_index') }}" class="no-decoration"><h5>Back</h5></a>
        </button>
    
    {% endblock %}
	
{% endblock %} {# body #} 
