{% extends 'base.html.twig' %}

{% block main %}
	{# Show the details of a tutorial #}
	<h3>Tutorial : {{ tutorial.name }} - {{ tutorial.author }}</h3>
	
	<ul>
        
        <li><b> Id : {{ tutorial.id }} </b></li>
        <li> Name : {{ tutorial.name }} </li>

    </ul>
	
    <a href="{{ path('index') }}">Back</a>
	
{% endblock %} {# body #} 
