{% extends 'tutorial/index.html.twig' %}

{% block list_tutorials_header %}
	<div style="text-align: center;">
    	<h1>Theme {{ theme }}</h1>
    </div>
{% endblock %}

{% block list_tutorials_footer %}

	<br><br>

	<div class="tuto-card">
    	<a href="{{ path("app_tutorial_newintheme", {'id' : theme.id}) }}">
        	<div class="img-crop">
    			<img
    			type="image" 
                src="{{ vich_uploader_asset(add, 'imageFile') }}" 
                alt="Image of the symbol plus" 
                class="img-fluid"
            	/>
        	</div>
        	<div class="tuto-name">
        		<h5> New tutorial in {{ theme }} theme </h5>
        	</div>
    	</a>
    </div>

    <br>

	<button class="btn btn-info">
    	<a href="{{ path('app_theme_index') }}" class="no-decoration"><h5>Back</h5></a>
    </button>
	
	<button class="btn btn-info">
    	<a href="{{ path('app_theme_edit', {'id': theme.id}) }}" class="no-decoration"><h5>Edit</h5></a>
    </button>
    	
{% endblock %}
