{% extends 'base.html.twig' %}

{% block main %}
	{# Show the detail of a tutorial #}
	<h3>Tutorial : {{ tutorial.name }} - {{ tutorial.library.member }}</h3>
	
	<ul>
        
        <li><b> Id : {{ tutorial.id }} </b></li>
        <li> Name : {{ tutorial.name }} </li>

    </ul>
	
    <a href="{{ path('app_theme_show', {'id': theme.id}) }}">Back to {{ theme }} theme</a>
	
{% endblock %} {# body #} 
