{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block main %}
    <h1>Library</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ library.id }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ library.member }}</td>
            </tr>
            <tr>
            	<th>Tutorials</th>
            	{% for tutorial in library.tutorials %}
            		<td><a href="{{ path("app_library_tutorial_show", {'library_id': library.id, 'tutorial_id': tutorial.id}) }}">{{ tutorial }}</a></td>
            	{% endfor %}
            	<td><a href="{{ path("app_tutorial_new", {'id': library.id}) }}">Create a new tutorial</a>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_member_show', {'id': library.member.id}) }}">Back</a>

{% endblock %}
