{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block main %}
    <h1>Library</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ library.id }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ library.author }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_library_index') }}">back to list</a>

    <a href="{{ path('app_library_edit', {'id': library.id}) }}">edit</a>

    {{ include('library/_delete_form.html.twig') }}
{% endblock %}
